<n2ng-stepper>
  <n2ng-step label="ページ1">
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" n2ngNextStep>次へ</button>
    </div>

  </n2ng-step>

  <n2ng-step label="ページ2">

    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" n2ngNextStep>次へ</button>
      <button class="btn btn-outline-secondary" n2ngPrevStep>戻る</button>
    </div>

  </n2ng-step>

  <n2ng-step label="ページ3">

    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-secondary" n2ngPrevStep>戻る</button>
    </div>

  </n2ng-step>


</n2ng-stepper>
